[user]
  name = Alexander Grüneberg
  email = alexander.grueneberg@googlemail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore

[color]
  ui = true

[alias]
  d = diff --ignore-space-change
  l = log --oneline --graph
  lp = log --patch
  s = status --short

[diff]
  tool = mvimdiff
